* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Grandstander', cursive;
    font-size: 1.5rem;
    line-height: 39px;
}

.form-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
}

.input-box, .button-box {
    border: solid 2px black;
    width: 30%;
    text-align: center;
    padding: 1%;
    border-bottom: none;
}

.button-box {
    border: double 5px black;
}

.input-label {
    display: block;
}

.input-label span {
    cursor: pointer;
}

.input-text, .input-color {
    width: 60%;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    padding: 4px;
    border: black 2px solid;
}

.input-color {
    padding: 0;
    -webkit-appearance: none;
    height: 36px;
}

.input-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.input-color::-webkit-color-swatch  {
    border: none;
}

.send-button {
    width: 40%;
    height: 36px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    border: 2px black solid;
    background: #FFF;
    transition: all .15s cubic-bezier(.25,.25,.25,.25);
}

.send-button:hover {
    color: #FFF;
    background: black;
}

.purpose-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hello-user {
    width: 40%;
    text-align: center;
    padding: 30px;
    margin: 20px 15% 0 15%;
    border: black 2px solid;
    opacity: .8;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
}

.hello-user:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px 5px black;
}

.user-data {
    font-weight: 800;
}

.error {
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
}

.error span {
    padding: 4px;
    color: red;
}

.input-error {
    border: red 2px solid;
}

.thank-you-box {
    opacity: 1;
    box-shadow: 5px 5px 5px 5px black;
}

.input-checkbox {
    margin-left: 5px;
    cursor: pointer;
}

.form-footer {
    margin-top: 2%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.forget {
    border: none;
    padding: 8px;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 8px;
    transition: all .15s cubic-bezier(.25,.25,.25,.25);
    cursor: pointer;
}

.forget:hover {
    background: #A9A9A9;
}

.img-riquelme {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 40px;
}

.img-riquelme img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}